.participants-icon{
    font-size: 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: text-top;
}

.reserved-table{
    background-color: rgba(0,0,0,.12);
    border-radius: 4px;
    line-height: 20px;
    padding: 0 8px;
    display: inline-block;
    margin-left: 8px;
}