<div *ngIf="authService.isManager(restaurantId)" class="text-right mt-3">
    <button mat-raised-button color="primary" (click)="openDialogForAddItem()">
        <mat-icon aria-label="Add Item">add</mat-icon>
        Add Item
    </button>
</div>
<!-- <mat-list *ngIf="menu" role="list" class="row">
    <div *ngFor="let item of menu.items; last as isLast">
        <mat-list-item role="listitem">
            <h4 mat-line>{{item.name}}</h4>
            <div class="mat-small text-nowrap">{{item.price}} Lei</div>
            <button mat-icon-button color="primary">
                <mat-icon aria-label="Add Item to cart">add</mat-icon>
            </button>
            <button *ngIf="authService.isManager(restaurantId)" mat-icon-button color="primary">
                <mat-icon aria-label="Edit Menu Item" (click)="openDialogForEditItem(item)">edit</mat-icon>
            </button>
            <button *ngIf="authService.isManager(restaurantId)" mat-icon-button (click)="openDialogForRemoveItem(item)" color="warn">
                <mat-icon aria-label="Remove Menu Item">delete</mat-icon>
            </button>
        </mat-list-item>
        <mat-divider *ngIf="!isLast"></mat-divider>
    </div>

</mat-list> -->


<app-menu-composite class="pl-3" *ngIf="menuElement != null" [menuElement]="menuElement"></app-menu-composite>