.btn-advanced-filters {
    line-height: 24px;
    padding: 0 8px;
    min-width: 0;
}

.card-columns{
    column-gap: 0;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 4;
    }
}

.hotel-room-card{
    &:hover .book-now-overlay{
        opacity: 1;
        width: 100%;
        height: 100%;
        transition: opacity .3s ease-in-out;
    }
}

.book-now-overlay{
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba($color: #fff, $alpha: .8);
    transition: opacity .3s ease-in-out, width 0s ease-in-out .3s, height 0s ease-in-out .3s;
}