.hotel-image-header {
  background-image: url(https://www.w3schools.com/bootstrap/map.jpg);
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
}

.title-section {
  border-bottom: 1px solid #333;
}

.input-section {
  border-top: 1px solid #333;
}
