<div class="hotel-image-header section-1"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 py-3 text-center">
      <h1>Welcome to</h1>
      <h2>Franco Dacex</h2>
      <h2>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </h2>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 p-0 hotel-summary c-pointer" routerLink="/rooms">
          <div class="hotel-image"></div>
          <div class="hotel-summary-content text-center d-flex align-items-center justify-content-center">
            <h2 style="font-weight: 400">Book a room in our Hotel</h2>
          </div>
        </div>
        <div class="col-6 p-0 restaurants-summary c-pointer" routerLink="/restaurants">
          <div class="restaurants-image"></div>
          <div class="restaurants-summary-content text-center d-flex align-items-center justify-content-center">
            <h2 style="font-weight: 400">Take a seat at one of our Restaurants</h2>
          </div>
        </div>
      </div>
</div>
<div class="hotel-image-header section-3"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 py-3">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">More about us</h2>
        </div>
        <div class="col-md-6">
          <p>Located in the city center of Iasi, Romania, part of the newest modern complex in Moldova – Palas Iasi –
            the 4-star Hotel International Iasi is the most elegant business, leisure and events location in the
            Moldavian capital. One of the few hotels in Iasi with views to the Palace of Culture, many consider it to be
            one of the best hotels in the city center. The hotel is proud to have been recognized for its superior
            service and hospitality with a number of outstanding awards, including the TripAdvisor Travelers’ Choice
            Award, Certificate of Excellence and Top Hotel Awards.
            With numerous tourist attractions and cultural areas nearby, Hotel International Iasi offers modern,
            luxurious accommodation with complimentary Wi-Fi and access to wellness and it is featuring an exceptional
            indoor swimming pool, fitness center, dry and wet saunas, emotional shower and hydro-massage tub.
          </p>
        </div>
        <div class="col-md-6">
          <p>All rooms feature air conditioning, cable flat screen television, minibar, tea and coffee making
            facilities, a writing desk, a safe deposit box, and a private bathroom with shower or tub. Some rooms offer
            panoramic views of the city, making it the ideal accommodation for business or a romantic couples retreat.

            Guests of the Hotel International Iasi can enjoy an exceptional meal at the three elegant a la carte
            restaurants or may choose to sit back and relax while enjoying glorious views in the hotel’s Sky Lounge.
            This 4-star hotel in Iasi also boasts eight conference halls for hosting business meetings and social
            events.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>