
<div *ngIf="restaurant">
    <div class="restaurant-image-header" [ngStyle]="{'background-image': 'url(https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)'}">
        <div class="gradient"></div>
        <div class="container mb-2">
            <div class="row">
                <div class="col-12">
                    <h2>{{restaurant.name}}</h2>
                    <h4><mat-icon class="align-bottom">location_city</mat-icon> {{restaurant.city}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <mat-tab-group dynamicHeight [selectedIndex]="activeTabIndex" (selectedIndexChange)="onTabChange($event)" animationDuration="0" class="restaurant-tabs">
            <mat-tab label="Book" class="pt-4">
                <div class="row pt-4">
                    <div class="col-md-6 com-12">
                        <div class="mb-2">
                            {{restaurant.description}}
                        </div>
                        <div *ngIf="restaurant.cuisines != null && restaurant.cuisines.length > 0">
                            <strong>Amenities</strong>
                            <span class="caption ml-2" *ngFor="let cuisine of restaurant.cuisines; let isLast=last">
                                {{cuisine.name}}{{isLast ? '' : ', '}}
                            </span>
                        </div>
                        <div *ngIf="restaurant.priceRange != null">
                            <strong>PriceRange</strong>
                            <span class="caption ml-2" style="font-size: 12px;">
                                <span class="align-items-center mt-0 mat-card-subtitle mt-1 price-range-icon">
                                    <mat-icon *ngFor="let i of getPriceIconCount(restaurant.priceRange) | fill">attach_money</mat-icon>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <app-book [restaurantId]="restaurant.id"></app-book>
                    </div>
                    <div class="col-12 mt-4">
                        <agm-map [latitude]="restaurant.geoLatitude" [longitude]="restaurant.geoLongitude" [zoom]="18">
                            <agm-marker [latitude]="restaurant.geoLatitude" [longitude]="restaurant.geoLongitude"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Menu" class="pt-4">
                <div class="pt-4">
                    <ng-template matTabContent>
                        <app-menu [restaurantId]="restaurant.id" [menu]="restaurant.menu"></app-menu>
                    </ng-template>
                </div>
            </mat-tab>
            <mat-tab *ngIf="authService.isManager(restaurant.id)" label="Staff" class="pt-4">
                <div class="pt-4">
                    <ng-template matTabContent>
                        <app-employees-list [restaurantId]="restaurant.id"></app-employees-list>
                    </ng-template>
                </div>
            </mat-tab>
            <mat-tab *ngIf="authService.isManager(restaurant.id)" label="Reservations" class="pt-4">
                <div class="pt-4">
                    <ng-template matTabContent>
                        <app-restaurant-reservations [restaurantId]="restaurant.id"></app-restaurant-reservations>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>