
<div *ngIf="restaurant">
    <div class="restaurant-image-header" [ngStyle]="{'background-image': getImage()}">
        <div class="gradient"></div>
        <div class="container mb-2">
            <div class="row">
                <div class="col-8">
                    <h2>{{restaurant.name}}</h2>
                    <h4><mat-icon class="align-bottom">location_city</mat-icon> {{restaurant.city}}</h4>
                </div>
                <div class="col-4 text-right">
                    <button mat-raised-button color="accent">
                        <!-- <mat-icon>date_range</mat-icon> -->
                        Book Now
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <mat-tab-group dynamicHeight class="restaurant-tabs">
            <mat-tab label="Description" class="pt-4">
                <div class="pt-4">
                    {{restaurant.description}}
                </div>
            </mat-tab>
            <mat-tab label="Menu" class="pt-4">
                <div class="pt-4">
                    <ng-template matTabContent>
                        <app-menu [restaurantId]="restaurant.id" [menu]="restaurant.menu"></app-menu>
                    </ng-template>
                </div>
            </mat-tab>
            <mat-tab *ngIf="authService.isManager(restaurant.id)" label="Staff" class="pt-4">
                <div class="pt-4">
                    <ng-template matTabContent>
                        <app-employees-list [restaurantId]="restaurant.id"></app-employees-list>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>