<h1 mat-dialog-title>Choose table</h1>
<div mat-dialog-content>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="shadow p-3 mb-2 rounded text-center c-pointer table-btn" [ngClass]="{'selected': reservationRequest.tableIds.length == 0}" (click)="selectAuto()">
                    <h4>Auto</h4>
                    <span class="participants-count">
                        Most fit table
                    </span>
                </div>
            </div>
            <div *ngFor="let table of tables" class="col-6">
                <div class="shadow p-3 mb-2 rounded text-center c-pointer table-btn" [ngClass]="{'selected': reservationRequest.tableIds.includes(table.id)}" (click)="selectTable(table)">
                    <h4>{{table.name}}</h4>
                    <span class="participants-count">
                        {{table.seats}} 
                        <mat-icon aria-label="Participants" class="align-bottom">person</mat-icon>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>