
<div>
  <button *ngIf="!showNavBar()" mat-button routerLink="/" routerLinkActive="mat-accent" class="text-white mt-2 ml-2">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Home Page
  </button>
</div>
<mat-toolbar *ngIf="showNavBar()">
  <mat-toolbar-row>
    <span class="c-pointer" routerLink="/">{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/rooms" routerLinkActive="mat-accent">Rooms</button>
    <button mat-button routerLink="/restaurants" routerLinkActive="mat-accent">Restaurants</button>
    <button mat-button routerLink="/events" routerLinkActive="mat-accent">Events</button>
    <button mat-button routerLink="/contact" routerLinkActive="mat-accent">Contact</button>

    <button *ngIf="!currentUser" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</button>

    <button *ngIf="currentUser" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/reservations">
        <mat-icon>today</mat-icon>
        <span>My Reservations</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Account Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>equalizer</mat-icon>
        <span>Preferences</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon color="warn">power_settings_new</mat-icon>
        <span class="warn-color">Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="text-white mt-auto" style="background-color: #3f51b5;">
  <div class="container py-4">
    <div class="row">
      <div class="col-4">
        <span style="font-size: 1.2rem; font-weight: 500; letter-spacing: 0.5px;">Hotel Franco Dacex</span>
      </div>
      <div class="col-4 text-center">Version: Pre-Alpha 2</div>
      <div class="col-4 text-right">Iasi, Romania</div>
    </div>
  </div>
</footer>