<div class="auth-page">
        <div class="bg-image"></div>
        <div class="content-mt">
            <div class="text-center">
                <h1 class="logo" routerLink="/hotel">Hotel Franco Dacex </h1>
            </div>
            <mat-card class="auth-card">
                <mat-card-content>
                    <form class="example-form">
                        <mat-form-field appearance="standard" class="input-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="input-full-width">
                            <mat-label>Full Name</mat-label>
                            <input matInput [(ngModel)]="fullName" name="fullName" required>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="input-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput [(ngModel)]="password" [type]="hidePass ? 'password' : 'text'"
                                name="password" required>
                            <mat-icon matSuffix (click)="hidePass = !hidePass" class="c-pointer">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-right">
                        <button mat-raised-button (click)="register()" color="primary" class="w-100">
                            Sign Up
                            <mat-spinner [style.display]="showSpinner ? 'inline-block' : 'none'" color="accent" diameter="25"></mat-spinner>
                        </button>
                    </div>
                    <div class="mat-body-strong font-weight-bold text-center pt-3">
                        Already have an account? <a routerLink="/login">Login</a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>