<div class="auth-page">
        <div class="bg-image"></div>
        <div class="content-mt">
            <div class="text-center">
                <h1 class="logo" routerLink="/hotel">Hotel Franco Dacex </h1>
            </div>
            <mat-card class="auth-card">
                <mat-card-content>
                    <form [formGroup]="form" (ngSubmit)="register()" #registerForm="ngForm" (keydown.enter)="registerForm.ngSubmit.emit()">
                        
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required cdkFocusInitial>
                            <mat-error *ngIf="form.get('email').errors?.email">Invalid Email</mat-error>
                            <mat-error *ngIf="form.get('email').errors?.required">Required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Full Name</mat-label>
                            <input matInput placeholder="Full Name" formControlName="fullName" required [errorStateMatcher]="matcher">
                            <mat-error *ngIf="form.get('fullName').errors?.required">Required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="w-100" [ngClass]="{'pb-5': form.get('password').errors?.pattern}">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hidePass = !hidePass" class="c-pointer">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        
                            <mat-error *ngIf="form.get('password').errors?.required">Required</mat-error>
                            <mat-error *ngIf="form.get('password').errors?.pattern" style="display: block;">
                                Password must contain: <br>
                                &#9679; At least 8 characters in length <br>
                                &#9679; Lowercase letters <br>
                                &#9679; Uppercase letters <br>
                                &#9679; Numbers <br>
                                &#9679; Special characters
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-right">
                        <button mat-raised-button *ngIf="!showSpinner" (click)="registerForm.ngSubmit.emit()" [disabled]="!registerForm.form.valid" color="primary" class="w-100">
                            Sign Up
                        </button>
                        <button mat-raised-button *ngIf="showSpinner" color="primary" disabled class="w-100">
                            <mat-spinner style="display: inline-block" color="accent" diameter="25"></mat-spinner>
                        </button>
                    </div>
                    <div class="text-center mat-small text-danger my-1" *ngIf="showError">Username or password incorrect.</div> 
                    <div class="mat-body-strong font-weight-bold text-center pt-3">
                        Already have an account? <a routerLink="/login">Login</a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>