<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h2>Create a new Restaurant</h2>
      <p>After you submit this form, the restaurant will not be publicly visible until the folowing steps are
        acomplished:</p>
      <ol class="pl-4">
        <li>Create a menu.</li>
        <li>Create a restaurant map.</li>
        <li>Add a publish request.</li>
      </ol>
      <p>After you finish all these steps, all you have to do is wait for us to review your request.</p>
    </div>
    <div class="col-12 mt-3">
      <form [formGroup]="form" (ngSubmit)="create()">
        <mat-form-field class="w-100">
          <input matInput placeholder="Restaurant Name" formControlName="name" [errorStateMatcher]="matcher">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="City" formControlName="city" [errorStateMatcher]="matcher">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Contact" formControlName="contact" [errorStateMatcher]="matcher">
        </mat-form-field>

        <mat-form-field class="w-100">
          <textarea matInput placeholder="Short Description" formControlName="description" [errorStateMatcher]="matcher"></textarea>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Image" formControlName="imageUrl" [errorStateMatcher]="matcher">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput type="number" placeholder="Geolocation Latitude" formControlName="geoLatitude" [errorStateMatcher]="matcher">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput type="number" placeholder="Geolocation Longitude" formControlName="geoLongitude" [errorStateMatcher]="matcher">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Create</button>
      </form>
    </div>
  </div>
</div>