<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3" [ngStyle]="{'height': clientHeight - 64 + 'px', 'overflow': 'auto'}">
            <div class="card-columns">
                <div *ngFor="let restaurant of restaurants" class="px-1">
                    <mat-card class="d-inline-block my-1 c-pointer card" [routerLink]="'/restaurant/' + restaurant.id">
                        <mat-card-header>
                            <mat-card-title>{{restaurant.name}}</mat-card-title>
                            <mat-card-subtitle>{{restaurant.city}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{getImage()}}" alt="{{restaurant.name}}">
                        <mat-card-content>{{restaurant.description}}</mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-6 px-0">
            <agm-map [latitude]="47.1651364" [longitude]="27.5695892" [zoom]="14" [ngStyle]="{'height': clientHeight - 64 + 'px'}">
                <agm-marker [latitude]="47.1628553" [longitude]="27.5811555"></agm-marker>
                <agm-marker [latitude]="47.1628553" [longitude]="27.5911555"></agm-marker>
                <agm-marker [latitude]="47.1528553" [longitude]="27.5871555"></agm-marker>
                <agm-marker [latitude]="47.1588553" [longitude]="27.5681555"></agm-marker>
                <agm-marker [latitude]="47.1708553" [longitude]="27.5771555"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>