<div class="container-fluid" [ngClass]="mapView ? 'mapView' : 'listView'">
    <div class="row">
        <div class="restaurants-list-container py-3" [ngStyle]="{'height': clientHeight - 64 + 'px'}" 
            [ngClass]="mapView ? 'col-md-6 customScrollBar' : 'col-md-12'">
            <div class="card-columns">
                <div *ngFor="let restaurant of restaurants" class="px-1">
                    <mat-card class="d-inline-block my-1 c-pointer card shadow border-0" [routerLink]="'/restaurant/' + restaurant.id">
                        <img mat-card-image [src]="restaurant.imageUrl" 
                            onError="this.src='assets/img/restaurant-fallback.png';" alt="{{restaurant.name}}">
                        <div class="mat-card-header">
                            <div class="mat-card-header-text d-flex justify-content-between w-100 mx-0 ">
                                <mat-card-title class="mat-card-title mr-3">{{restaurant.name}}</mat-card-title>
                                <mat-card-subtitle class="align-items-center mt-0 mat-card-subtitle mt-1">{{restaurant.city}}</mat-card-subtitle>
                            </div>
                        </div>
                        <mat-card-content>{{restaurant.description}}</mat-card-content>
                    </mat-card>
                </div>
            </div>
            <button *ngIf="mapView" mat-fab (click)="mapView = false" class="view-switch-fab" aria-label="Switch to list view">
                <mat-icon>list</mat-icon>
            </button>
            <button *ngIf="!mapView" mat-fab (click)="mapView = true" class="view-switch-fab" aria-label="Switch to map view">
                <mat-icon>map</mat-icon>
            </button>
        </div>
        <div *ngIf="mapView" class="col-md-6 px-0">
            <agm-map [latitude]="47.1651364" [longitude]="27.5695892" [zoom]="14" [ngStyle]="{'height': clientHeight - 64 + 'px'}">
                <agm-marker *ngFor="let restaurant of restaurants" [latitude]="restaurant.geoLatitude" [longitude]="restaurant.geoLongitude"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>