<mat-list role="list" class="row">
    <h3 mat-subheader>Manager</h3>
    <mat-list-item *ngIf="manager" role="listitem">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>{{manager.fullName}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div>
        <h3 mat-subheader class="d-inline-block mt-0">Employees</h3>
        <button mat-icon-button (click)="openDialogForAddEmployee()" color="primary" class="float-right mr-3">
            <mat-icon aria-label="Add Employee">add</mat-icon>
        </button>
    </div>
    <mat-list-item *ngFor="let employee of employees" role="listitem">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>{{employee.fullName}}</h4>
        <button mat-icon-button (click)="openDialogForRemoveEmployee(employee)" color="warn" class="float-right">
            <mat-icon aria-label="Remove Employee">delete</mat-icon>
        </button>
    </mat-list-item>
</mat-list>