/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/card';
button:focus { outline: none; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.restaurant-tabs {
  margin-top: -48px;

  .mat-tab-label{
      color: white !important;
      opacity: 1;
  }

  .mat-ink-bar{
    background-color: white !important;
  }
}

.time-interval-slider {
  .mat-slider-thumb-label-text{
    font-size: 10px;
  }

  .mat-slider-track-wrapper {
    overflow: visible;
    
    .unavailable-frame {
      height: 6px;
      top: -2px;
      background-color: #f44336;
      z-index: 1;
      border-radius: 10px;
    }
  }
}

.c-pointer{
    cursor: pointer;
}

.opacity-50 {
  opacity: 0.5;
}